<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заметки</title>
    <script defer src="js/vue-dev.js"></script>
    <script defer src="js/main.js"></script>
</head>
<body>
<div id="app">
    <div class="columns">
        <div v-for="(column, index) in columns" :key="index" class="column">
            <h2>{{ column.title }} ({{ column.cards.length }})</h2>
            <card-component
                v-for="card in column.cards"
                :key="card.id"
                :card="card"
                :column-index="index"
                :is-blocked="index === 0 && isFirstColumnBlocked"
                @add-task="addTask"
                @task-updated="updateColumns(index, card.id)">
            </card-component>
            <button v-if="index === 0 && column.cards.length < 3 && !isFirstColumnBlocked" @click="addCard">Добавить карточку</button>
        </div>
    </div>
</div>
</body>
</html>
